<h2 mat-dialog-title class="dialog-title">
  <i
    class="fa-solid"
    [class.fa-arrow-right-arrow-left]="isEditMode"
    [class.fa-user-pen]="isEditMode"
  >
  </i>
  {{ isEditMode ? "Nova Movimentação" : "Nova Movimentação" }}
</h2>


<mat-dialog-content [formGroup]="form">
  <div class="row">
    <mat-form-field appearance="fill" class="full">
      <mat-label>Produto</mat-label>

      <mat-select formControlName="stockId" required>
        <mat-option *ngFor="let stock of stocks" [value]="stock.id">
          {{ stock.product?.name }}
        </mat-option>
      </mat-select>

      <mat-error *ngIf="form.get('stockId')?.hasError('required')">
        Produto é obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Quantidade a entrar</mat-label>
      <input
        matInput
        type="number"
        formControlName="quantity"
        placeholder="Ex: 10"
      />
      <mat-error *ngIf="form.get('quantity')?.hasError('required')">
        Entrada é obrigatória
      </mat-error>
      <mat-error *ngIf="form.get('quantity')?.hasError('min')">
        A quantidade deve ser maior que 0
      </mat-error>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()" type="button" class="btn-cancel">
    <i class="fa-regular fa-circle-xmark"></i>
    Cancelar
  </button>
  <!-- Botão Salvar com Loading -->
  <button
    mat-raised-button
    (click)="salvar()"
    [disabled]="form.invalid || isLoading"
    type="submit"
    class="btn-save"
    (selectionChange)="onProductChange($event)"
  >
    <!--Spinner de carregamento -->
    <mat-progress-spinner
      *ngIf="isLoading"
      diameter="18"
      mode="indeterminate"
      color="white"
    >
    </mat-progress-spinner>

    <!-- Ícone quando não está carregando -->
    <i *ngIf="!isLoading" class="fa-regular fa-floppy-disk"></i>

    <!-- Texto dinâmico -->
    {{ isLoading ? "Salvando..." : "Salvar" }}
  </button>
</mat-dialog-actions>
